@using LearnWeb.Data
@model List<Item>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Spinner Start -->
@* <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div> *@
<!-- Spinner End -->
<head>
    <link href="../Views//Shared" />
    <link href="../Views//Home" />
    <style>
        /* Căn giữa phần tử h1 */
        .center {
            position: relative;
            text-align: center;
            width: 100%;
            z-index: 2; /* Đặt z-index cho phần tử "Welcome" */
        }

        /* Chỉnh lưới hiển thị */
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            align-items: center;
            justify-items: center;
        }

        /* Căn giữa và chỉnh kích thước cho các phần tử "diu" */
        .diu-item {
            display: inline-block;
            height : 300px;
            width: 100%;
            margin: 0 auto;
            z-index: 1; /* Đặt z-index cho các phần tử "diu" */
        }
    </style>
</head>
<body>
    <div style="min-height: 1000px;">
        <h1 class="center" style="color: red;">Welcome to Website Me</h1>
            <ul class ="grid-container">
                @foreach (var item in Model.Take(4))
                {
				<li class="diu-item">
                    <img src="@item.Image" alt="Description" />
                    <p>@item.Name</p>
                    </li>
                }
            </ul>
    </div>
</body>