@{
    ViewData["Title"] = "Item Page";
}
<head>

</head>
<body>
        <div class="input-group">
            <label>Tên Đăng Nhập</label>
            <textarea></textarea>
        </div>
        <div class="input-group">
            <label>Mật Khẩu</label>
            <textarea></textarea>
        </div>
        <div class="btn btn-group-inline">
            <button class="btn-info">Đăng Nhập</button>
            <button class="btn-info">Đăng Ký</button>
        </div>
</body>